<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link href="/static/css/wangeditoreditor@5.1style.css" rel="stylesheet">
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <link href="/static/css/cnds.css" rel="stylesheet">
    <link href="/static/css/bomm.css" rel="stylesheet">
    <style>
        .content {
            height: calc(100% - 40px);
            background-color: rgb(245, 245, 245);
            overflow-y: auto;
            position: relative;
        }
        .editor-container {
            width: 850px;
            margin: 30px auto 15px auto;
            background-color: #fff;
            padding: 20px 50px 50px 50px;
            border: 1px solid #e8e8e8;
            box-shadow: 0 2px 10px rgb(0 0 0 / 12%);
        }
        .editor-container1 {
            width: 850px;
            margin: 5px auto 150px auto;
            background-color: #fff;
            padding: 20px 50px 50px 50px;
            border: 1px solid #e8e8e8;
            box-shadow: 0 2px 10px rgb(0 0 0 / 12%);
        }
        #title-container {
            padding: 20px 0;
            border-bottom: 1px solid #e8e8e8;
        }

        #title-container input {
            font-size: 30px;
            border: 0;
            outline: none;
            width: 100%;
            line-height: 1;
        }

        #editor-text-area {
            min-height: 600px;
            margin-top: 20px;
        }

        #editor-toolbar {
            width: 1350px;
            background-color: #FCFCFC;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div id="csdn-toolbar" style="position: relative; min-width: 100%; width: max-content; top: 0px; left: 0px;">
    <div class="toolbar-inside">
        <div class="toolbar-container">
            <div class="toolbar-container-left">
                <div class="toolbar-logo"><a href="/"><img title="博客首页" src="/static/img/logo.png"></a>
                </div>
                <ul class="toolbar-menus csdn-toolbar-fl">
                    <li class="active " title="首页">
                        <a href="/">首页</a>
                    </li>


                </ul>
            </div>
            <div class="toolbar-container-right">
                <div class="toolbar-btns">
                    <div class="toolbar-btn_tx">
                        <a class="hasAvatar" href="/my"><img
                                src="/static/img/tx.jpg"></a>
                    </div>
                    <div class="toolbar-btn ">
                        <a href="/my">我的博客</a>
                    </div>
                    <div class="toolbar-btn">
                        <a href="/exit">退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="border-bottom: 1px solid #e8e8e8;">
    <div id="editor-toolbar"></div>
</div>
<form class="layui-form">
    <input id="BlogId" type="hidden" >
    <div id="content" class="content">
        <div id="editor-container" class="editor-container">
            <div id="title-container">
                <input name="title" placeholder="请输入标题！" lay-verify="title" id="blog_title">
            </div>
            <div id="editor-text-area"></div>
            <!--<div id="top-container">-->
        </div>
    </div>
    </div>
    <div class="content">
        <div class="editor-container1 ">
            <div class="layui-form-item">
                <label class="layui-form-label">封面：</label>
                <div class="layui-upload-drag" id="custom-fileName">
                    <i id="img_i" class="layui-icon"></i>
                    <p id="img_p">点击上传，或将文件拖拽到此处</p>
                    <div class="layui-hide" id="uploadDemoView">
                        <hr>
                        <img src="" alt="上传成功后渲染" style="max-width: 196px">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">摘要：</label>
                <div class="layui-input-block">
                    <textarea name="brief" placeholder="请输入摘要" lay-verify="brief" class="layui-textarea"
                              id="zhaiyao"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类专栏：</label>
                <div class="layui-input-block">
                    {{str2html .ClaaifyBox}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">发布形式：</label>
                <div class="layui-input-block">
                    <input type="radio" id="allKj" name="fbxs" value="0" title="全部可见" {{.AllKj}}>
                    <input type="radio" id="jwKj" name="fbxs" value="1" title="仅我可见" {{.JwKj}}>
                    <input type="radio" id="dlKj" name="fbxs" value="2" title="登录可见" {{.DlKj}}>
                </div>
            </div>
        </div>
    </div>
    <div data-v-173330b0="" class="el-form-item"><!---->
        <div class="el-form-item__content" style="margin-left: 90px;">
            <div class="opt-box">
                <div class="btn-box">
                    {{if .IsXiu}}
                <span>
                     <span class="el-popover__reference-wrapper">
                         <button type="button" class="el-button" lay-submit="" tabindex="0" lay-filter="button_cg">
                             <span>保存草稿
                                 <i class="el-icon-caret-bottom" style="margin-left: 4px; margin-right: -2px;"></i>
                            </span>
                        </button>
                     </span>
                </span>
                    {{end}}
                    <button type="button" class="el-button btn-outline-danger " lay-submit="" lay-filter="button_tj"
                            id="submit">
                        <span style="color: white">{{.ButtonSubmit}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
<script src="/static/js/wangeditoreditor@5.1.15distindex.js"></script>
<script src="/static/layui/layui.js"></script>
<script>
    const E = window.wangEditor


    // Change language
    const LANG = location.href.indexOf('lang=en') > 0 ? 'en' : 'zh-CN'
    E.i18nChangeLanguage(LANG)
    const editorConfig = {MENU_CONF: {}}
    editorConfig.placeholder = '请输入内容...';
    editorConfig.MENU_CONF['uploadImage'] = {
        server: '/api/upload_img',
        timeout: 5 * 1000, // 5s
        fieldName: 'custom-fileName',
        meta: {token: 'xxx', a: 100},
        metaWithUrl: true, // join params to url
        headers: {Accept: 'text/x-json'},
        maxFileSize: 10 * 1024 * 1024, // 10M
        base64LimitSize: 5 * 1024, // insert base64 format, if file's size less than 5kb
        onBeforeUpload(file) {
            console.log('onBeforeUpload', file)
            return file // will upload this file
            // return false // prevent upload
        },
        onProgress(progress) {
            console.log('onProgress', progress)
        },
        onSuccess(file, res) {
            console.log('onSuccess', file, res)
        },
        onFailed(file, res) {
            alert(res.message)
            console.log('onFailed', file, res)
        },
        onError(file, err, res) {
            alert(err.message)
            console.error('onError', file, err, res)
        },

    }
    const editor = E.createEditor({
        selector: '#editor-text-area',
        config: editorConfig
    })

    const toolbar = E.createToolbar({
        editor,
        selector: '#editor-toolbar',
        config: {
            excludeKeys: 'fullScreen',
        }
        // config: {}
    })

    layui.use(['form', 'upload', 'element', 'layer'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , layer = layui.layer,
            form = layui.form;
        var flzl = "", img_url = "", blog_id=-1;

        {{if .IsEdit}}
        editor.setHtml('{{.Data.BlogContent}}');
        $('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', {{.Data.BlogImgUrl}});
        $('#img_i').hide();
        $('#img_p').hide();
        $('#blog_title').val("{{.Data.BlogTitle}}");
        $('#zhaiyao').val("{{.Data.BlogBrief}}");
        $('#BlogId').val("{{.Data.BlogId}}");
        blog_id={{.Data.BlogId}};
        {{end}}
        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.trim().length < 1) {
                    return '标题不能为空或空格!';
                }
            }
            , brief: function (value) {
                if (value.trim().length < 5) {
                    return '摘要不能少于5个字!';
                }
                if (value.trim().length > 250) {
                    return '摘要大于250个字!';
                }
            }
            , required1: function (value) {
                if (value.trim().length < 0) {
                    return '摘要不能少于5个字!';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
        });
        //拖拽上传
        upload.render({
            elem: '#custom-fileName'
            , url: '/api/upload_img' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
            , field: 'custom-fileName'
            , acceptMime: {
                acceptMime: 'image/!*'
            }
            , done: function (res) {
                layer.msg('上传成功');
                $('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', res.data.alt);
                $('#img_i').hide();
                $('#img_p').hide();
                img_url = res.data.alt;
            }
        });

        form.on('submit(button_tj)', function (data) {
            submit(data, 0)
        });
        form.on('submit(button_cg)', function (data) {
            submit(data, 1)
        });

        function flzlFun(s1, s2) {
            s1 = s1  + s2+ "|";
            return s1
        }

        function submit(data, state) {
            flzl = "";
            if (editor.getText().trim().length < 1) {
                //$("html,body").stop(true);
                $("html,body").animate({scrollTop: $("#content").offset().top}, 100);
                layer.msg("请输入内容！", {icon: 5, shift: 6});
                return false;
            }
            img_url = $('#uploadDemoView').find('img')[0].src;
           if (img_url.trim().length < 1) {
            //if ($('#uploadDemoView')[0].src.length < 1) {
                $("html,body").animate({scrollTop: $("#zhaiyao").offset().top}, 100);
                layer.msg("请选择封面！", {icon: 5, shift: 6});
                return false;
            }
            if (typeof (data.field.flzl1) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl1)
            }
            if (typeof (data.field.flzl2) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl2)
            }
            if (typeof (data.field.flzl3) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl3)
            }
            if (typeof (data.field.flzl4) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl4)
            }
            if (typeof (data.field.flzl5) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl5)
            }
            if (typeof (data.field.flzl6) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl6)
            }
            if (typeof (data.field.flzl7) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl7)
            }
            if (typeof (data.field.flzl8) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl8)
            }
            if (typeof (data.field.flzl9) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl9)
            }
            if (typeof (data.field.flzl10) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl10)
            }
            if (typeof (data.field.flzl11) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl11)
            }
            if (typeof (data.field.flzl12) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl12)
            }
            if (typeof (data.field.flzl13) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl13)
            }
            if (typeof (data.field.flzl14) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl14)
            }
            if (typeof (data.field.flzl15) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl15)
            }
             if (typeof (data.field.flzl16) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl16)
            }
             if (typeof (data.field.flzl17) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl17)
            }
             if (typeof (data.field.flzl18) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl18)
            }
             if (typeof (data.field.flzl19) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl19)
            }
             if (typeof (data.field.flzl20) != 'undefined') {
                flzl = flzlFun(flzl, data.field.flzl20)
            }


            if (flzl.trim().length < 1) {
                $("html,body").animate({scrollTop: $("#zhaiyao").offset().top}, 100);
                layer.msg("请选择分类专栏！", {icon: 5, shift: 6});
                return false;
            }
            var dataJson = {
                BlogTitle: data.field.title,
                BlogContent: editor.getHtml(),
                BlogBrief: data.field.brief,
                BlogImgUrl: img_url,
                BlogClassifyType: flzl,
                BlogVisibleType: Number(data.field.fbxs),
                BlogState: state
            }
            $.ajax({
                type: "POST",
                url: '/edit?blog_id='+blog_id,
                data: JSON.stringify(dataJson),
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                    // TODO...
                },
                success: function (res) {
                    if (res.code == 0) {
                        $('#blog_title').val("");
                        editor.clear();
                        $('#zhaiyao').val("");
                        $('#uploadDemoView').addClass('layui-hide').find('img').attr('src', "");
                        $('#img_i').show();
                        $('#img_p').show();
                        // location.reload();
                        // 提示语
                        layer.msg('提交成功', {
                            icon: 1,
                            time: 1000
                        });
                        return false;
                    } else {
                        alert(res.msg)


                    }
                },
                error: function () {
                    layer.msg("AJAX请求异常");
                }
            });
        }

    });
</script>
</html>