<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/prism.css" rel="stylesheet">
    <link href="/static/css/view.css" rel="stylesheet">
<!--
    <link href="/static/layui/css/layui.css" rel="stylesheet">
-->
</head>
<body>
{{template "blog/toolbar.html"}}
<div id="content">
    <div id="page-container" class="page-container">
        <div class="information-details">
            <h1>{{.Data.BlogTitle}}</h1>
            <div class="information-details-msg">
                <span class="send-time">发布时间：<span>{{.Data.BlogCreateTime}}</span></span>
                <span class="readmath">阅读：<span id="reading_quantity">{{.Data.BlogReadCount}}</span></span>
                <span class="autour">作者：<span>{{.Data.BlogCreateUser}}</span></span>
                <span class="special">栏目：<a style="color:#9EA7B3;" href="/zixun/kf_webkf/"><span>{{.Data.BlogClassifyType}}</span></a></span>
            </div>
            {{str2html .Data.BlogContent}}
        </div>
    </div>
</div>
</body>


</html>
