<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/prism.css" rel="stylesheet">
    <link href="/static/css/view.css" rel="stylesheet">
    <link href="/static/css/cnds.css" rel="stylesheet">
</head>
<body>
<!--<div class="toolbar-search onlySearch">
    <div class="toolbar-search-container">
        <span class="icon-fire"></span>
        <input id="toolbar-search-input"
                                                                                      maxlength="2000"
                                                                                      autocomplete="off" type="text"
                                                                                      value=""
                                                                                      placeholder="' + this.getSearchInputPlaceholder() + '">
        <div class="gradient"></div>

        <button id="toolbar-search-button"><i></i><span>搜索</span></button>
        <input type="password" autocomplete="new-password" readonly disabled="true"
                tyle="display: none; position:absolute;left:-9999999px;width:0;height:0;"/>
    </div>
</div>-->

<div id="csdn-toolbar" style="position: relative; min-width: 100%; width: max-content; top: 0px; left: 0px;">
    <div class="toolbar-inside">
        <div class="toolbar-container">
            <div class="toolbar-container-left">
                <div class="toolbar-logo"><a href=""><img title="CSDN首页" src="/static/img/logo.png"></a>
                </div>
                <ul class="toolbar-menus csdn-toolbar-fl">
                    <li class="active " title="阅读深度、前沿文章">
                        <a href="https://blog.csdn.net/"> 博客</a>
                    </li>
                    <li class="active " title="阅读深度、前沿文章">
                        <a href="https://blog.csdn.net/"> 下载</a>
                    </li>
                    <li class="active " title="阅读深度、前沿文章">
                        <a href="https://blog.csdn.net/"> 学习</a>
                    </li>
                </ul>
            </div>
            <div class="toolbar-container-middle">
                <div class="toolbar-search">
                    <div class="toolbar-search-container">
                        <span class="icon-fire" style="display: none;"></span>
                        <input id="toolbar-search-input" maxlength="2000" autocomplete="off" type="text" value=""
                               placeholder="请输入搜索内容！" style="text-indent: 12px;">
                        <div class="gradient"></div>
                        <button id="toolbar-search-button">
                            <i></i>
                            <span class="btn-ss">搜索</span>
                        </button>
                        <input type="password" autocomplete="new-password" readonly="" disabled="true"
                               style="display: none; position:absolute;left:-9999999px;width:0;height:0;">
                    </div>
                </div>
            </div>
            <div class="toolbar-container-right">
                <div class="toolbar-btns">
<!--
                    <div class="toolbar-btn">
                        <a href="https://mall.csdn.net/vip">会员中心 <img
                                style="position: relative; vertical-align: middle; width: 14px; top: -2px; left: 0px;display:inline-block" src="http://127.0.0.1/static/img/lw.gif"></a>
                        <div id="csdn-plugin-vip"
                             style="background:url(http://127.0.0.1/static/img/tx.jpg) no-repeat center center; background-size: cover;" }="">
                            <div class="csdn-plugin-vip-header">
                                会员特权
                            </div>
                            <div class="csdn-plugin-vip-footer">
                                <a class="csdn-plugin-vip-footer-link"
                                   href="https://mall.csdn.net/vip">
                                    领取限时优惠券，最高可减80元<i></i>
                                </a>
                                <a class="csdn-plugin-vip-footer-btn"
                                   href="https://mall.csdn.net/vip">
                                    领券开通
                                </a>
                            </div>
                        </div>
                    </div>
-->
                    <div class="toolbar-btn_tx">
                        <a class="hasAvatar" href="https://blog.csdn.net/qq_33989915"><img
                                src="/static/img/tx.jpg"></a>
                    </div>
                    <div class="toolbar-btn ">
                        <a href="https://i.csdn.net/#/user-center/collection-list?type=1">足迹</a>
                    </div>
                    <div class="toolbar-btn">
                        <a href="https://blink.csdn.net">动态</a>
                        <div class="toolbar-dynamic-subMenu">
                            <a class="vote-item" href="https://blink.csdn.net/?source=vote">
                                <span class="pos-rel">投票<i style="display: inline;"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="toolbar-btn ">
                        <div class="toolbar-subMenu-box">
                            <a id="toolbar-remind" href="https://i.csdn.net/#/msg/index">消息</a>
                        </div>
                        <div class="toolbar-msg-box"></div>
                    </div>
                    <div class="toolbar-btn-write">
                        <a data-report-click="{&quot;spm&quot;:&quot;3001.4503&quot;}" data-report-query="spm=3001.4503" href="/edit"><i></i>发布</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--
            <div class="toolbar-search">
                <div class="toolbar-search-container">
                    <input class="input111" id="toolbar-search-input" maxlength="2000" autocomplete="off" type="text"
                           value=""
                           placeholder="请输入搜索内容!" style="text-indent: 32px;">
                    <button class="button1" id="toolbar-search-button"><i class="ser"></i><span class="ccccc">搜索</span></button>
                    <input class="abc111" type="password" autocomplete="new-password" readonly="" disabled="true"
                           style="display: none; position:absolute;left:-9999999px;width:0;height:0;">
                </div>
            </div>
    -->

</div>
<div id="content">
    <div id="page-container" class="page-container">
        <!--        <div style="padding: 20px 0;border-bottom: 1px solid #e8e8e8; " id="blog_title">
                    <h1 align="center">{{str2html .Title}}</h1>
                    <div class="information-details-msg">
                        <span class="send-time">发布时间：<span>2020-09-26 14:48:45</span></span>
                        <span class="comefrom">来源：<span>亿速云</span></span>
                        <span class="readmath">阅读：<span id="reading_quantity">1261</span></span>
                        <span class="autour">作者：<span>小新</span></span>
                        <span class="special">栏目：<a style="color:#9EA7B3;" href="/zixun/kf_webkf/"><span>web开发</span></a></span>
                    </div>
                </div>-->

        <div class="information-details">
            <h1>html中h1标签如何居中</h1>
            <div class="information-details-msg">
                <span class="send-time">发布时间：<span>2020-09-26 14:48:45</span></span>
                <span class="readmath">阅读：<span id="reading_quantity">1261</span></span>
                <span class="autour">作者：<span>小新</span></span>
                <span class="special">栏目：<a style="color:#9EA7B3;" href="/zixun/kf_webkf/"><span>web开发</span></a></span>
            </div>

            {{str2html .Html}}
        </div>
    </div>
</div>
</body>
<script src="../static/js/prism.js"></script>
</html>
