<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客园</title>
    <link href="/static/css/prism.css" rel="stylesheet">
    <link href="/static/css/view.css" rel="stylesheet">
   <link href="/static/css/list.css" rel="stylesheet">
    <link href="/static/css/blog_nav.css" rel="stylesheet">
    <style>
        #blog_nav_box {
            padding: 5px 0 0 0;
            background-color: rgb(245, 245, 245);
        }

        .blog_nav_box1 {
            padding:10px 50px;
            width: 850px;
            margin: 0 auto;
            background-color: #fff;

        }
    </style>
</head>
<body>
{{template "blog/toolbar.html"}}
{{template "toolbar" .}}

<div id="content">
    <div id="blog_nav_box">
        <div class="blog_nav_box1">
            <ul class="active_nav">
                <li class="navigation-right "><a href="">后端</a></li>
                <li class="navigation-right "><a href="">前端</a></li>
                <li class="navigation-right "><a href="">移动开发</a></li>
                <li class="navigation-right "><a href="">编程语言</a></li>
                <li class="navigation-right "><a href="">人工智能</a></li>
                <li class="navigation-right "><a href="">大数据</a></li>

                <li class="navigation-right "><a href="">音视频</a></li>

                <li class="navigation-right "><a href="">云生</a></li>
            </ul>
        </div>
    </div>
    <div id="page-container" class="page-container">

<!--






        &lt;!&ndash;&ndash;&gt;
            <div class="article-ir articleItem" data-v-503455fa="" data-v-69347e0e="">
                <div class="article-irl " data-v-503455fa="">
                    <div class="article-irl-img " data-v-503455fa=""><a
                            href="https://www.51cto.com/article/718633.html"
                            target="_blank" data-v-503455fa=""><img
                            src="https://s2.51cto.com/oss/202209/13/145ffd11263f17f42fa86559f101c8a11d9d14.png?x-oss-process=image/format,jpg,image/resize,m_fixed,w_208,h_116"
                            data-v-503455fa=""></a></div>
                    <div class="article-irl-c " data-v-503455fa="">
                        <div class="title-box" data-v-503455fa="">
                            <div class="article-irl-ct" data-v-503455fa=""><a
                                    href="https://www.51cto.com/article/718633.html"
                                    target="_blank"
                                    class="usehover "
                                    data-v-503455fa="">你的系统如果要支持百万连接，架构应该如何设计？</a>
                                &lt;!&ndash;&ndash;&gt; &lt;!&ndash;&ndash;&gt;</div>
                            <a href="https://www.51cto.com/article/718633.html" target="_blank"
                               class="split-top-m "
                               data-v-503455fa="">这篇文章，给大家聊聊：如果你设计一个系统需要支撑百万用户连接，应该如何来设计其高并发请求处理架构？</a>
                        </div>
                        <div class="article-irl-cb" data-v-503455fa=""><p class="article-irl-cb_time"
                                                                          data-v-503455fa="">
                            2022-09-13 18:03:35</p>
                            <div class="article-irl-cb_sign" data-v-503455fa=""><a target="_blank"
                                                                                   href="https://so.51cto.com/?keywords=%E6%9E%B6%E6%9E%84"
                                                                                   class="split-left-m usehover"
                                                                                   data-v-503455fa="">架构</a><a
                                    target="_blank"
                                    href="https://so.51cto.com/?keywords=%E7%B3%BB%E7%BB%9F%E9%80%9A%E4%BF%A1"
                                    class="split-left-m usehover"
                                    data-v-503455fa="">系统通信</a>
                            </div>
                        </div>
                    </div>
                </div> &lt;!&ndash;&ndash;&gt;</div> &lt;!&ndash;&ndash;&gt;
            <div class="article-ir articleItem" data-v-503455fa="" data-v-69347e0e="">
                <div class="article-irl article-irl_border" data-v-503455fa="">
                    <div class="article-irl-img usehover" data-v-503455fa=""><a
                            href="https://www.51cto.com/article/718632.html"
                            target="_blank" data-v-503455fa=""><img
                            src="https://s9.51cto.com/oss/202209/13/e462eef945d7f5f6eee1152304f2f2528ecb03.jpg?x-oss-process=image/format,jpg,image/resize,m_fixed,w_208,h_116"
                            data-v-503455fa=""></a></div>
                    <div class="article-irl-c split-left-l" data-v-503455fa="">
                        <div class="title-box" data-v-503455fa="">
                            <div class="article-irl-ct" data-v-503455fa=""><a
                                    href="https://www.51cto.com/article/718632.html"
                                    target="_blank"
                                    class="usehover article-irl-ct_title"
                                    data-v-503455fa="">还在用定时器吗？借助 CSS 来监听事件</a>
                                &lt;!&ndash;&ndash;&gt; &lt;!&ndash;&ndash;&gt;</div>
                            <a href="https://www.51cto.com/article/718632.html" target="_blank"
                               class="split-top-m usehover pc-three-line article-abstract" data-v-503455fa="">在使用mouseout​时还需要考虑
                                dom​ 嵌套结构，因为这些事件在父级 -&gt; 子级的过程中仍然会触发，总之，细节会非常多，很容易误触发。</a></div>
                        <div class="article-irl-cb" data-v-503455fa=""><p class="article-irl-cb_time"
                                                                          data-v-503455fa="">
                            2022-09-13 17:54:55</p>
                            <div class="article-irl-cb_sign" data-v-503455fa=""><a target="_blank"
                                                                                   href="https://so.51cto.com/?keywords=CSS"
                                                                                   class="split-left-m usehover"
                                                                                   data-v-503455fa="">CSS</a><a
                                    target="_blank"
                                    href="https://so.51cto.com/?keywords=%E5%AE%9A%E6%97%B6%E5%99%A8"
                                    class="split-left-m usehover"
                                    data-v-503455fa="">定时器</a><a
                                    target="_blank"
                                    href="https://so.51cto.com/?keywords=%E7%9B%91%E5%90%AC%E4%BA%8B%E4%BB%B6"
                                    class="split-left-m usehover" data-v-503455fa="">监听事件</a></div>
                        </div>
                    </div>
                </div> &lt;!&ndash;&ndash;&gt;</div> &lt;!&ndash;&ndash;&gt;
            <div class="article-ir articleItem" data-v-503455fa="" data-v-69347e0e="">
                <div class="article-irl article-irl_border" data-v-503455fa="">
                    <div class="article-irl-img usehover" data-v-503455fa=""><a
                            href="https://www.51cto.com/article/718617.html"
                            target="_blank" data-v-503455fa=""><img
                            src="https://s3.51cto.com/oss/202209/13/91e9510138996b1b5421202379ebed15b35ad1.png?x-oss-process=image/format,jpg,image/resize,m_fixed,w_208,h_116"
                            data-v-503455fa=""></a></div>
                    <div class="article-irl-c split-left-l" data-v-503455fa="">
                        <div class="title-box" data-v-503455fa="">
                            <div class="article-irl-ct" data-v-503455fa=""><a
                                    href="https://www.51cto.com/article/718617.html"
                                    target="_blank"
                                    class="usehover article-irl-ct_title"
                                    data-v-503455fa="">使用 VSLook 自定义 VS Code 主题</a>
                                &lt;!&ndash;&ndash;&gt; &lt;!&ndash;&ndash;&gt;</div>
                            <a href="https://www.51cto.com/article/718617.html" target="_blank"
                               class="split-top-m usehover pc-three-line article-abstract" data-v-503455fa="">我给你推荐一个扩展
                                -
                                VSLook，它允许你更改 VS Code 中所有元素的颜色，我们可以使用 VSLook 来创建自己的 VS Code 主题，你可以使用 Tailwind 和
                                Material
                                颜色，也可以创建自己的颜色。</a></div>
                        <div class="article-irl-cb" data-v-503455fa=""><p class="article-irl-cb_time"
                                                                          data-v-503455fa="">
                            2022-09-13 15:44:52</p>
                            <div class="article-irl-cb_sign" data-v-503455fa=""><a target="_blank"
                                                                                   href="https://so.51cto.com/?keywords=VSLook"
                                                                                   class="split-left-m usehover"
                                                                                   data-v-503455fa="">VSLook</a><a
                                    target="_blank" href="https://so.51cto.com/?keywords=%E6%8F%92%E4%BB%B6"
                                    class="split-left-m usehover" data-v-503455fa="">插件</a></div>
                        </div>
                    </div>
                </div> &lt;!&ndash;&ndash;&gt;</div> &lt;!&ndash;&ndash;&gt;
            <div class="article-ir articleItem" data-v-503455fa="" data-v-69347e0e="">
                <div class="article-irl article-irl_border" data-v-503455fa="">
                    <div class="article-irl-img usehover" data-v-503455fa=""><a
                            href="https://www.51cto.com/article/718603.html"
                            target="_blank" data-v-503455fa=""><img
                            src="https://s2.51cto.com/oss/202209/13/11a171727bddd2c563e2334ba94a7a68b998b0.jpg?x-oss-process=image/format,jpg,image/resize,m_fixed,w_208,h_116"
                            data-v-503455fa=""></a></div>
                    <div class="article-irl-c split-left-l" data-v-503455fa="">
                        <div class="title-box" data-v-503455fa="">
                            <div class="article-irl-ct" data-v-503455fa=""><a
                                    href="https://www.51cto.com/article/718603.html"
                                    target="_blank"
                                    class="usehover article-irl-ct_title"
                                    data-v-503455fa="">惊呆面试官的回答：HashMap和TreeMap的区别</a>
                                &lt;!&ndash;&ndash;&gt; &lt;!&ndash;&ndash;&gt;</div>
                            <a href="https://www.51cto.com/article/718603.html" target="_blank"
                               class="split-top-m usehover pc-three-line article-abstract" data-v-503455fa="">HashMap是基于哈希表+数组来实现的，而TreeMap是基于红黑树实现的。使用HashMap需要键对象明确定义了hashCode()和equals()这两个方法，而且为了优化HashMap空间的使用，可以调整初始容量大小和扩容。</a>
                        </div>
                        <div class="article-irl-cb" data-v-503455fa=""><p class="article-irl-cb_time"
                                                                          data-v-503455fa="">
                            2022-09-13 14:44:40</p>
                            <div class="article-irl-cb_sign" data-v-503455fa=""><a target="_blank"
                                                                                   href="https://so.51cto.com/?keywords=HashMap"
                                                                                   class="split-left-m usehover"
                                                                                   data-v-503455fa="">HashMap</a><a
                                    target="_blank"
                                    href="https://so.51cto.com/?keywords=%E5%93%88%E5%B8%8C%E8%A1%A8"
                                    class="split-left-m usehover" data-v-503455fa="">哈希表</a><a target="_blank"
                                                                                               href="https://so.51cto.com/?keywords=%E7%BA%A2%E9%BB%91%E6%A0%91"
                                                                                               class="split-left-m usehover"
                                                                                               data-v-503455fa="">红黑树</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>-->
    </div>
</div>
</body>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use('flow', function(){
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        flow.load({
            elem: '#page-container' //指定列表容器
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.post('/api/blog_list?page='+page, function(res1){

                   var res =$.parseJSON(res1)
                    console.log(res)
                    console.log(res.pages)
                    console.log(res.data)
                    console.log(page)
                    //假设你的列表返回在data集合中
                    layui.each(res.data, function(index, item){
                        lis.push(
                            '            <div class="article-ir " >\n' +
                            '                <div class="article-irl " >\n' +
                            '                    <div class="article-irl-img " >\n' +
                            '                        <a href="/blog/'+item.BlogId+'" target="_blank">\n' +
                            '                            <img src="'+item.BlogImgUrl+'">\n' +
                            '                        </a>\n' +
                            '                    </div>\n' +
                            '                    <div class="article-irl-c">\n' +
                            '                        <div class="title-box" >\n' +
                            '                            <div class="article-irl-ct" >\n' +
                            '                                <a href="/blog/'+item.BlogId+'" target="_blank" class="usehover">'+item.BlogTitle+'</a>\n' +
                            '                            </div>\n' +
                            '                            <a href="'+item.BlogId+'" target="_blank"\n' +
                            '                               class="split-top-m ">'+item.BlogBrief+'</a>\n' +
                            '                        </div>\n' +
                            '                        <div class="article-irl-cb" >\n' +
                            '                            <p class="article-irl-cb_time" >'+item.BlogCreateTime+'</p>\n' +
                            '                            <div class="article-irl-cb_sign" >\n' +
                            '                                <a target="_blank" href="https://so.51cto.com/?keywords=React"\n' +
                            '                                   class="split-left-m usehover" >React</a>\n' +
                            '                                <a target="_blank" href="https://so.51cto.com/?keywords=%E7%BB%84%E4%BB%B6"\n' +
                            '                                   class="split-left-m usehover">组件</a>\n' +
                            '                                <a target="_blank" href="https://so.51cto.com/?keywords=fromJS"\n' +
                            '                                   class="split-left-m usehover" >fromJS</a>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                </div> <!---->\n' +
                            '            </div>'
                        );
                    });

                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < res.pages);
                });
            }
        });
    });
</script>
</html>


