<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style>
        body {
            padding: 20px 30px;

        }

        .code {
            width: 80px;
            height: 30px;
            font-size: 20px;
            font-family: Arial;
            font-style: italic;
            font-weight: bold;
            border: 0;
            letter-spacing: 2px;
            /*
                        color:blue;
            */
            color: #fc5531;
        }

    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <!--
                <div class="layui-col-md4 layui-col-md-offset4 login">
        -->
        <div class="layui-tab layui-tab-brief" style="margin-top: 20px">
            <ul class="layui-tab-title">
                <li class="layui-this">登录</li>
                <li>注册</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form action="" class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i class="layui-icon layui-icon-user"></i></label>
                            <div class="layui-input-block">
                                <input type="text" name="UserName" lay-verify="required|username" class="layui-input"
                                       placeholder="用户名">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i></label>
                            <div class="layui-input-block">
                                <input type="password" name="UserPassword" required lay-verify="required|password"
                                       class="layui-input" placeholder="密码">
                            </div>
                        </div>
                        <!--                            <div class="layui-form-item">
                                                        <label class="layui-form-label"><i class="layui-icon layui-icon-friends"></i></label>
                                                        <div class="layui-input-block">
                                                            <input type="radio" name="grade" value="管理员" title="管理员">
                                                            <input type="radio" name="grade" value="用户" title="用户" checked>
                                                        </div>
                                                    </div>-->
                        <div class="layui-form-item">
                            <div class="layui-row layui-col-space20">
                                <div class="layui-col-md8 layui-col-xs8">
                                    <input type="text" name="code" required lay-verify="required|login_code"
                                           class="layui-input" placeholder="验证码">
                                </div>
                                <div class="layui-col-md4 layui-col-xs4">
                                    <input type="button" class="code" id="login_code"/>
                                    <!--
                                                                            <img id="code">
                                    -->
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <a id="err-id" style="color: red"></a>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-submit lay-filter="login">登录</button>
                            <span style="margin-left: 30px"><a href="#">忘记密码</a></span>
                        </div>
                    </form>
                </div>

                <div class="layui-tab-item">
                    <form action="" class="layui-form layui-form-pane">
                        <!--                     <div class="layui-form-item">
                                                 <label class="layui-form-label"><i class="layui-icon layui-icon-cellphone"></i></label>
                                                 <div class="layui-input-block">
                                                     <input type="text" name="zhanghao" required lay-verify="required|number" class="layui-input" placeholder="账号">
                                                 </div>
                                             </div>-->
                        <!--                            <div class="layui-form-item">
                                                        <label class="layui-form-label"><i class="layui-icon layui-icon-user"></i></label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="Id" required lay-verify="required|userId" class="layui-input" placeholder="用户号">

                                                        </div>
                                                    </div>-->
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i class="layui-icon layui-icon-user"></i></label>
                            <div class="layui-input-block">
                                <input type="text"  id="UserName" name="UserName" required lay-verify="required|username"
                                       class="layui-input" placeholder="用户名">

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i></label>
                            <div class="layui-input-block">
                                <input type="password" name="UserPassword" required lay-verify="required|password" id="UserPassword"
                                       class="layui-input" placeholder="密码">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i></label>
                            <div class="layui-input-block">
                                <input  id="UserPassword1" type="password"  required lay-verify="required|cPassword"
                                       class="layui-input" placeholder="再次输入密码">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-row layui-col-space20">
                                <div class="layui-col-md8 layui-col-xs8">
                                    <input type="text" id="SingCode" required lay-verify="required|sing_code"
                                           class="layui-input" placeholder="验证码">
                                </div>
                                <div class="layui-col-md4 layui-col-xs4">
                                    <input type="button" class="code" id="sing_code"/>
                                </div>

                            </div>
                        </div>
                        <div class="layui-form-item">
                            <a id="err-id-sign" style="color: red"></a>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-submit="" lay-filter="sing-in">注册</button>
                            <!--
                                                            <span style="margin-left: 30px"><a href="#">已有账号，去登陆</a></span>
                            -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--
                </div>
        -->
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    {{if .IsLogin}}
    window.parent.location.reload();
    {{end}}
    layui.use(["form", "layer"], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var login_code, sing_code;
        //表单验证功能
        form.verify({
            username: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '用户名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字';
                }
                if (!/^[\S]{4,12}$/.test(value)) {
                    return '用户名为4到12位';
                }
            }
            , userId: [
                /^\d{4}$/
                , "用户号必须为4位数字"
            ]
            , password: [
                /^[\S]{3,12}$/
                , '密码必须3到12位，且不能出现空格'
            ]
            , phone: [
                /^\d{11}$/
                , "手机号必须为11位数字"
            ]
            , cPassword: function (value) {
                if ($('#UserPassword').val() !== value) {
                    return "两次密码不一致！";
                }
            }
            , login_code: function (value) {
                if (login_code.toUpperCase() !== value.toUpperCase()) {
                    return "验证码不正确！";
                }
            }
            , sing_code: function (value) {
                if (sing_code.toUpperCase() !== value.toUpperCase()) {
                    return "验证码不正确！";
                }
            }
        });

        function changeLogin() {
            loginCode = $('#login_code');
            // 验证码组成库
            var arrays = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0',
                'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',
                'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
                'u', 'v', 'w', 'x', 'y', 'z',
                'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
                'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
                'U', 'V', 'W', 'X', 'Y', 'Z'];
            login_code = '';// 重新初始化验证码
            for (var i = 0; i < 4; i++) {
                // 随机获取一个数组的下标
                var r = parseInt(Math.random() * arrays.length);
                login_code += arrays[r];
            }
            // 验证码添加到input里
            loginCode.val(login_code);
        }

        function changeSingIn() {
            singCode = $('#sing_code');
            // 验证码组成库
            var arrays = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0',
                'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',
                'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
                'u', 'v', 'w', 'x', 'y', 'z',
                'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
                'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
                'U', 'V', 'W', 'X', 'Y', 'Z'];
            sing_code = '';// 重新初始化验证码
            for (var i = 0; i < 4; i++) {
                // 随机获取一个数组的下标
                var r = parseInt(Math.random() * arrays.length);
                sing_code += arrays[r];
            }
            // 验证码添加到input里
            singCode.val(sing_code);
        }

        changeLogin();
        changeSingIn();
        loginCode.click(changeLogin);
        singCode.click(changeSingIn);
        form.on('submit(login)', function (data) {
            changeLogin();
            $.ajax({
                type: "POST",
                url: '/login',
                data: JSON.stringify(data.field),
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                    // TODO...
                },
                success: function (res) {
                    if (res.code === 0) {

                        // 提示语
                        layer.msg(res.msg, {
                            icon: 1,
                            time: 1000
                        });
                        setTimeout(function () {
                            // 跳转后台首页
                            window.parent.location.reload();
                        }, 500);
                    } else {
                        $("#err-id").text(res.msg);
                    }
                },
                error: function () {
                    layer.msg("AJAX请求异常");
                }
            });


            return false;
        });

        //单击验证
        form.on('submit(sing-in)', function (data) {
            changeSingIn();
            $.ajax({
                type: "POST",
                url: 'register',
                data: JSON.stringify(data.field),
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                    // TODO...
                },
                success: function (res) {
                    if (res.code === 0) {
                        $('#UserName').val("");
                        $('#UserPassword').val("");
                        $('#UserPassword1').val("");
                        $('#SingCode').val("");
                        $("#err-id-sign").text("")
                        // 提示语
                        layer.msg(res.msg, {
                            icon: 1,
                            time: 1500
                        });
                    } else {
                        $("#err-id-sign").text(res.msg)
                    }
                },
                error: function () {
                    layer.msg("AJAX请求异常");
                }
            });
            return false
        });

    })
</script>
</body>
</html>