.el-form-item{
    color: #2c3e50;
    list-style: none;
    font-family: SF Pro Display,Roboto,Noto,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
    text-align: left;
    box-sizing: border-box;
    padding: 0;
    margin: 0!important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 68px;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    z-index: 8;
}
.el-form-item__content{
    color: #2c3e50;
    list-style: none;
    font-family: SF Pro Display,Roboto,Noto,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
    text-align: left;
    padding: 0;
    box-sizing: border-box;
    line-height: 40px;
    position: relative;
    font-size: 14px;
    height: 64px;
    margin: 0!important;
}
.opt-box{
    color: #2c3e50;
    list-style: none;
    font-family: SF Pro Display,Roboto,Noto,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
    text-align: left;
    line-height: 40px;
    font-size: 14px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 816px;
    height: 64px;
    margin: 0 auto;
    -webkit-box-align: center;
    align-items: center;
    transform: translateX(-16px);
}
.btn-box{
    color: #2c3e50;
    list-style: none;
    font-family: SF Pro Display,Roboto,Noto,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
    text-align: left;
    line-height: 40px;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-left: auto;
}
.btn-box span{
    color: #2c3e50;
    list-style: none;
    text-align: left;
    line-height: 40px;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif!important;
}
.el-popover__reference-wrapper{
    color: #2c3e50;
    list-style: none;
    text-align: left;
    line-height: 40px;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif!important;
}
.el-button{
    list-style: none;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    min-height: 40px;
    display: inline-block;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #dcdfe6;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -webkit-user-select: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    height: 40px;
    padding: 8px 24px;
    line-height: 22px;
    color: #999aaa;
    background-color: transparent;
    background-image: none;
    border-color: #999aaa;
    font-size: 16px;
}
.el-button span{
    list-style: none;
    text-transform: none;
    white-space: nowrap;
    text-align: center;
    font-weight: 500;
    -webkit-user-select: none;
    cursor: pointer;
    line-height: 22px;
    color: #999aaa;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif!important;
}
.el-icon-caret-bottom{
    list-style: none;
    white-space: nowrap;
    text-align: center;
    -webkit-user-select: none;
    cursor: pointer;
    color: #999aaa;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: element-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    margin-left: 4px;
    margin-right: -2px;
}
.btn-outline-danger{
    list-style: none;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    min-height: 40px;
    display: inline-block;
    line-height: 1;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -webkit-user-select: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    margin-left: 16px;
    height: 40px;
    padding: 8px 24px;
    font-size: 16px;
    color: #fff;
    border: none;
    white-space: nowrap;
    background: #fc5531;
}

