
.toolbar-inside {

    line-height: 1.5;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #222226;
    padding: 0 50px;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
}

.toolbar-container {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #222226;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    width: 100%;
    min-width: 1280px;
    box-sizing: border-box;
    padding: 0 24px;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;

}

.toolbar-container-left {
    font-size: 14px;
    color: #222226;
    line-height: 48px;
    outline: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    -webkit-box-flex: 0;
    flex: none;
}

.toolbar-logo {
    font-size: 14px;
    color: #222226;
    line-height: 48px;
    outline: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    float: left;
    max-width: 80px;
    height: 100%;
    margin-right: 8px;
    position: relative;
}

.toolbar-logo a {
    font-size: 14px;
    line-height: 48px;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    color: #4f4f4f;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    text-decoration: none;
}

.toolbar-logo a img {
    font-size: 14px;
    line-height: 48px;
    font-weight: normal;
    cursor: pointer;
    color: #4f4f4f;
    border: 0;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    display: block;
    width: 80px;
    min-width: 80px;
    height: 44px;
    margin-top: calc((48px - 44px) / 2);
}

.toolbar-menus {
    color: #222226;
    line-height: 48px;
    outline: 0;
    font-weight: normal;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    float: left;
    width: auto;
    height: 100%;
    font-size: 0;
}

.active {
    color: #222226;
    outline: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    position: relative;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    height: 100%;
    line-height: 48px;
}

.active a {
    list-style: none;
    font-size: 14px;
    line-height: 48px;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    text-decoration: none !important;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    display: block;
    height: 100%;
    color: inherit;
    padding: 0 10px;
}

.toolbar-container-middle {
    font-size: 14px;
    color: #222226;
    line-height: 48px;
    outline: 0;
    font-weight: normal;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    -webkit-box-flex: 1;
    flex: 1;
    padding: 0 40px;
    min-width: 200px;
}


.toolbar-search {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: #222226;
    outline: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    width: 100%;
    max-width: 720px;
    height: 32px;
    line-height: 32px;
    margin-top: calc((48px - 32px) / 2);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.toolbar-search-container {
    -webkit-font-smoothing: antialiased;
    color: #222226;
    line-height: 32px;
    outline: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 0;
}

.icon-fire {
    -webkit-font-smoothing: antialiased;
    color: #222226;
    line-height: 32px;
    font-size: 0;
    outline: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    position: absolute;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background: url(/static/img/backicn.png) no-repeat -32px 0;
    background-size: 300%;
    left: 12px;
    top: 8px;
    display: none;
}

.toolbar-search-container input {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    font-size: 14px;
    display: inline-block;
    width: calc(100% - 104px);
    height: 100%;
    line-height: inherit;
    outline: 0;
    background: #f5f6f7;
    color: #222226;
    vertical-align: top;
    border: 1px solid #e8e8ed;
    border-right: none;
    box-sizing: border-box;
    border-radius: 16px 0 0 16px;
    text-indent: 12px;
}

.toolbar-search-container button {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    -webkit-appearance: button;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    display: inline-block;
    width: 88px;
    height: 100%;
    outline: 0;
    border: 0 none;
    border-radius: 0 16px 16px 0;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
    transition: all .2s ease-in;
    background-color: #fc5531;
    text-align: left;
}

.toolbar-search-container div {
    -webkit-font-smoothing: antialiased;
    color: #222226;
    line-height: 32px;
    font-size: 0;
    outline: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    pointer-events: none;
    background: linear-gradient(to left, #f5f6f7 5px, rgba(245, 246, 247, 0) 30px);
    position: absolute;
    transform: translate(-40px, 1px);
    display: inline-block;
    width: 40px;
    height: 30px;
}

.toolbar-search-container button i {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
    text-align: left;
    outline: 0;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/static/img/search.png) no-repeat center center;
    background-size: 100%;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-left: 14px;
}

.button_span {
    display: inline-block;
    vertical-align: top;
    color: #fff;
}


.toolbar-container-right {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: #222226;
    line-height: 48px;
    outline: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    -webkit-box-flex: 0;
    flex: none;
}

.toolbar-btns {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: #222226;
    line-height: 48px;
    outline: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    height: 100%;
}

.toolbar-btn {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    outline: 0;
    font-weight: normal;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    float: left;
    position: relative;
    line-height: 48px;
    color: inherit;
    text-align: center;
    padding: 0 8px;
    height: 100%;
}
.toolbar-btn_tx {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures;
    tab-size: 4;
    font-size: 14px;
    outline: 0;
    font-weight: normal;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC','SF Pro Display','Microsoft YaHei',Roboto,Noto,Arial,sans-serif;
    float: left;
    position: relative;
    line-height: 48px;
    color: inherit;
    text-align: center;
    padding: 0 8px;
    height: 100%;
}

.toolbar-btn a {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures;
    tab-size: 4;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    text-decoration: none;
    display: block;
    height: 100%;
    line-height: inherit;
    color: inherit;
    min-width: 32px;
}

.hasAvatar {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    text-decoration: none !important;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    height: 100%;
    min-width: 32px;
    display: block;
    color: #222226;
    line-height: 48px;
    position: relative;
    margin-right: 16px;
    margin-top: calc((48px - 32px) / 2);
    transition: all .2s ease-out;
    transform-origin: top center;
}

.hasAvatar img {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
    color: #222226;
    line-height: 48px;
    border: 0;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.csdn-toolbar-plugin {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    outline: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    display: none;
    width: 248px;
    color: #222226;
    background: #fff;
    position: absolute;
    min-height: 200px;
    top: 48px;
    left: 50%;
    margin-left: -132px;
    z-index: 9999999;
    border-radius: 4px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .06);
}

.csdn-profile-top {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 48px;
    color: #222226;
    outline: 0;
    font-weight: normal;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    text-align: center;
    padding: 20px 0 12px 0;
    border-bottom: 1px solid #e8e8ed;
}

.csdn-profile-top a {
    -webkit-font-smoothing: antialiased;
    line-height: 48px;
    text-align: center;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    color: #4f4f4f;
    padding: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    text-decoration: none;
    display: block;
    width: 47px;
    height: 20px;
    margin: 0 auto;
    font-size: 0;
    background: url(https://g.csdnimg.cn/common/csdn-toolbar/images/csdn-no-vip.png) no-repeat center center;
    background-size: contain;
}

.csdn-profile-avatar {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    font-weight: normal;
    outline: none;
    color: #4f4f4f;
    text-decoration: none !important;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    position: absolute;
    width: 48px;
    height: 48px;
    top: -32px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    border: 1px solid #e8e8ed;
}

.csdn-profile-avatar img {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    font-weight: normal;
    color: #4f4f4f;
    cursor: pointer;
    border: 0;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.csdn-profile-nickName {
    -webkit-font-smoothing: antialiased;
    text-align: center;
    outline: 0;
    margin: 0;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
    font-size: 16px;
    color: #222226;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.csdn-profile-mid {
    -webkit-font-smoothing: antialiased;
    line-height: 48px;
    outline: 0;
    font-weight: normal;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    color: #999aaa;
    font-size: 14px;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #e8e8ed;
}

.csdn-profile-mid a {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 20px;
    color: inherit;
}

.csdn-profile-fansCount {
    -webkit-font-smoothing: antialiased;
    text-align: center;
    cursor: pointer;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    font-size: 20px;
    color: #222226;
    font-style: normal;
    font-weight: 600;
    display: block;
    line-height: 30px;
    height: 30px;
}

.csdn-profile-bottom {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 48px;
    color: #222226;
    outline: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    text-align: left;
}

.csdn-border-bottom {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 48px;
    text-align: left;
    outline: 0;
    list-style: none;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    border-bottom: 1px solid #e8e8ed;
    padding: 8px 0;
    font-weight: 400;
    color: #555666;
    border-radius: 0 0 4px 4px;
}

.csdn-border-bottom li {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 48px;
    color: #555666;
    outline: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    list-style: none;
}

.csdn-border-bottom li a {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    list-style: none;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    text-decoration: none;
    display: block;
    padding: 0 16px;
    height: 40px;
    line-height: 40px;
    color: inherit;
}

.csdn-border-bottom li a i {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    list-style: none;
    font-weight: normal;
    cursor: pointer;
    line-height: 40px;
    color: inherit;
    outline: 0;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
    top: -1px;
    background-image: url(https://img-home.csdnimg.cn/images/20220421050530.png);
    background-repeat: no-repeat;
    background-size: 300%;
    background-position-x: 0;
    background-position-y: 0;
}

.csdn-profile-no-vip {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures;
    tab-size: 4;
    line-height: 48px;
    text-align: center;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    color: #4f4f4f;
    padding: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC', 'SF Pro Display', 'Microsoft YaHei', Roboto, Noto, Arial, sans-serif;
    text-decoration: none;
    display: block;
    width: 47px;
    height: 20px;
    margin: 0 auto;
    font-size: 0;
    background: url(https://g.csdnimg.cn/common/csdn-toolbar/images/csdn-no-vip.png) no-repeat center center;
    background-size: contain;
}
.toolbar-btn-write {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures;
    tab-size: 4;
    font-size: 14px;
    outline: 0;
    font-weight: normal;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC','SF Pro Display','Microsoft YaHei',Roboto,Noto,Arial,sans-serif;
    float: left;
    position: relative;
    line-height: 48px;
    color: inherit;
    text-align: center;
    padding: 0 8px;
    height: 100%;
    padding-right: 0;
}
.toolbar-btn-write a{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures;
    tab-size: 4;
    font-size: 14px;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC','SF Pro Display','Microsoft YaHei',Roboto,Noto,Arial,sans-serif;
    text-decoration: none;
    display: block;
    min-width: 88px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background-color: #fc5531;
    border-radius: 20px;
    margin-top: calc((48px - 32px)/ 2);
}
.toolbar-btn-write a i{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures;
    tab-size: 4;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    line-height: 32px;
    text-align: center;
    color: #fff;
    outline: 0;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'PingFang SC','SF Pro Display','Microsoft YaHei',Roboto,Noto,Arial,sans-serif;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    background: url(/static/img/backicn.png) no-repeat -38px -20px;
    background-size: 300%;
    top: -2px;
    margin-right: 2px;
}