{{define "toolbar"}}
<link href="/static/css/cnds.css" rel="stylesheet">

<div id="csdn-toolbar" style="position: relative; min-width: 100%; width: max-content; top: 0px; left: 0px;">
    <div class="toolbar-inside">
        <div class="toolbar-container">
            <div class="toolbar-container-left">
                <div class="toolbar-logo"><a href="/"><img title="博客首页" src="/static/img/logo.png"></a>
                </div>
                <ul class="toolbar-menus csdn-toolbar-fl">
                    <li class="active " title="返回首页">
                        <a href="/"> 首页</a>
                    </li>
                </ul>
            </div>
            <div class="toolbar-container-middle">
                <div class="toolbar-search">
                    <div class="toolbar-search-container">
                        <span class="icon-fire" style="display: none;"></span>
                        <input id="toolbar-search-input" maxlength="2000" autocomplete="off" type="text" value=""
                               placeholder="请输入搜索内容！" style="text-indent: 12px;">
                        <div class="gradient"></div>
                        <button id="toolbar-search-button">
                            <i></i>
                            <span class="button_span">搜索</span>
                        </button>
                        <input type="password" autocomplete="new-password" readonly="" disabled="true"
                               style="display: none; position:absolute;left:-9999999px;width:0;height:0;">
                    </div>
                </div>
            </div>
            <div class="toolbar-container-right">
                <div class="toolbar-btns">
                    {{if .IsSuperAdmin}}
                    <div class="toolbar-btn_tx">
                        <a class="hasAvatar" href="/my"><img
                                src="/static/img/tx.jpg"></a>
                    </div>
                    <div class="toolbar-btn ">
                        <a href="/my">我的博客</a>
                    </div>
                    <div class="toolbar-btn">
                        <a href="/exit">退出</a>
                    </div>
                    <div class="toolbar-btn-write">
                        <a href="/edit"  target="_blank"><i></i>发布</a>
                    </div>
                    {{else }}
                    <div class="toolbar-btn ">
                        <a id="login">登陆</a>
                    </div>
                    <div class="toolbar-btn-write" id="write">
                        <a><i></i>发布</a>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['layer'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        $('#login').click(function () {
            login();
        });

        $('#write').click(function () {
            login();
        });

        function login() {
            layer.open({
                type: 2,//iframe层
                title: false,//标题
                area: ['500px', '450px'],//弹出区域
                content: "/login",//所需弹出的登录/注册界面
                offset: '100px',//设置弹出层在距离顶部，100px 水平居中
                anim: 0
            });
        }
    });
</script>

{{end}}
